hHvTnI7zLKdxfZMT1rEln-Extract_YouTube_creator_emails_with_Apify_scraper_and_GPT_4o_Mini.json
{
  "name": "Extract YouTube creator emails with Apify scraper and GPT-4o Mini",
  "nodes": [
    {
      "parameters": {},
      "id": "42c65e43-6fd0-4701-b237-4d308767dc71",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        880,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ Setup Instructions\n\n### 1️⃣ Set Up OpenAI Connection\n1. Go to [OpenAI Platform](https://platform.openai.com/api-keys)  \n2. Navigate to [OpenAI Billing](https://platform.openai.com/settings/organization/billing/overview)  \n3. Add funds to your billing account  \n4. Copy your API key into the **OpenAI credentials** in n8n  \n\n### 2️⃣ Set Up Apify Connection\n1. Go to [Apify Console](https://console.apify.com/) and sign up/login  \n2. Get your API token here: [Apify API Keys](https://console.apify.com/account/integrations)  \n3. Set up the two scrapers in your Apify account:  \n   - [YouTube Scraper by streamers](https://apify.com/streamers/youtube-scraper)  \n   - [YouTube Scraper by apidojo](https://apify.com/apidojo/youtube-scraper)  \n4. In n8n, create a **HTTP Query Auth** credential  \n   - Query Key: `token`  \n   - Value: `YOUR_APIFY_API_KEY`  \n5. Attach this credential to both **HTTP Request nodes** (`Search YouTube` and `Scrape Channels`)  \n\n---\n\n\n## 📬 Contact Information\nNeed help customizing this workflow or building similar automations?  \n\n📧 [robert@ynteractive.com](mailto:robert@ynteractive.com)  \n🔗 [Robert Breen](https://www.linkedin.com/in/robert-breen-29429625/)  \n🌐 [ynteractive.com](https://ynteractive.com)  \n",
        "height": 928,
        "width": 400
      },
      "id": "3ee44563-519c-41d9-ac0a-e554c398b562",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 📨 YouTube Creator Email Finder (n8n + Apify + OpenAI)\n\nThis workflow automates the process of finding **YouTube creator contact emails** for outreach and partnerships. It combines **Apify scrapers** with **OpenAI** to deliver a clean list of emails from channel descriptions:  \n",
        "height": 928,
        "width": 1392,
        "color": 7
      },
      "id": "77b25aac-86e6-4eab-8b6d-eabe92ae9a28",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"emails\": [\"email1\", \"email2\"]\n}"
      },
      "id": "9243bdc9-5d5f-41f8-b219-fd0195e52367",
      "name": "Structured Output Parser4",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1984,
        816
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "<REDACTED>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"dateFilter\": \"month\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"lengthFilter\": \"under4\",\n    \"maxResultStreams\": 0,\n    \"maxResults\": {{ $json.channels }},\n    \"maxResultsShorts\": 0,\n    \"oldestPostDate\": \"10 days\",\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"{{ $json.Search }}\"\n    ],\n    \"sortingOrder\": \"relevance\"\n}",
        "options": {}
      },
      "id": "e1060cad-64e1-4c74-9bbe-05b270116c9a",
      "name": "Search Youtube",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        992,
        992
      ],
      "typeVersion": 4.2,
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5b5d1252-9917-490a-ab37-21125383101b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1328,
        512
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "### 1️⃣ Set Up OpenAI Connection\n1. Go to [OpenAI Platform](https://platform.openai.com/api-keys)  \n2. Navigate to [OpenAI Billing](https://platform.openai.com/settings/organization/billing/overview)  \n3. Add funds to your billing account  \n4. Copy your API key into the **OpenAI credentials** in n8n  ",
        "height": 304,
        "width": 288,
        "color": 3
      },
      "id": "21d45ff7-7e36-4bc3-86aa-c9532050549d",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86221d8e-18d1-4a37-9ffe-b31db3a3441d",
              "name": "Search",
              "type": "string",
              "value": "BGMI gameplay Hindi Free Fire live Gaming shorts Hindi"
            },
            {
              "id": "59c2fc27-8a31-4760-b2ea-713e676a2be8",
              "name": "channels",
              "type": "string",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "e6f062bd-6b74-4639-b0c0-409d233c27da",
      "name": "Set Search Term and # of searches",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apidojo~youtube-scraper/run-sync-get-dataset-items\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"customMapFunction\": \"(object) => { return {...object} }\",\n    \"duration\": \"all\",\n    \"features\": \"all\",\n    \"getTrending\": false,\n    \"includeShorts\": false,\n    \"maxItems\": 1,\n    \"sort\": \"r\",\n    \"startUrls\": [\n        \"{{ $json.channelUrl }}\"\n    ],\n    \"uploadDate\": \"all\"\n}",
        "options": {}
      },
      "id": "f4e3e8ac-b072-42fc-8c7b-b9d260caffd5",
      "name": "Scrape Channels",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1584,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {}
    },
    {
      "parameters": {
        "content": "### 2️⃣ Set Up Apify Connection\n1. Go to [Apify Console](https://console.apify.com/) and sign up/login  \n2. Get your API token here: [Apify API Keys](https://console.apify.com/account/integrations)  \n3. Set up the two scrapers in your Apify account:  \n   - [YouTube Scraper by streamers](https://apify.com/streamers/youtube-scraper)  \n   - [YouTube Scraper by apidojo](https://apify.com/apidojo/youtube-scraper)  \n4. In n8n, create a **HTTP Query Auth** credential  \n   - Query Key: `token`  \n   - Value: `YOUR_APIFY_API_KEY`  \n5. Attach this credential to both **HTTP Request nodes** (`Search YouTube` and `Scrape Channels`)  ",
        "height": 512,
        "width": 288,
        "color": 3
      },
      "id": "9ba55e16-493f-4d0d-808a-a8de656a02fe",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        512
      ],
      "id": "e8b17235-a75f-403a-a837-cf738358e7b3",
      "name": "Wait",
      "webhookId": "77080040-b671-4ee0-be31-1651b6d14407"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1680,
        944
      ],
      "id": "2acbd302-77c7-472e-94a0-1a7b56cc21d5",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract all email addresses from the text below.\nIf emails are written in hidden format like name(at)gmail(dot)com, fix them.\nIf no email is found, return an empty array.\n\nText:\n{{ $json.text }}\n\nReturn STRICT JSON only:\n{\n  \"emails\": []\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        560
      ],
      "id": "612e5fce-1ee5-4351-a0db-747d3890fec2",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        2192,
        1024
      ],
      "id": "4de45071-e29f-4471-bdae-6b9db5f428b8",
      "name": "Code Tool"
    }
  ],
  "connections": {
    "Search Youtube": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Channels": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        []
      ]
    },
    "Set Search Term and # of searches": {
      "main": [
        [
          {
            "node": "Search Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Search Term and # of searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateId": "7597",
    "templateCredsSetupCompleted": true
  }
}